body {
  background-image: url("https://previews.123rf.com/images/hasenonkel/hasenonkel1110/hasenonkel111000183/11007628-dirty-music-background-with-piano-and-sepia.jpg");
}

.jumbotron {
  background-color: transparent;
  opacity: 1;
}

.title {
  font-family: 'Fredericka the Great', cursive;
}

#liszt {
  position: relative;
  margin-left: top;
}

td {
  font-size: 13px !important;
  font-weight: 80 !important;
}

.panel-primary {
  min-height: 500px;
}

#artists {
  border-style: solid;
  border-width: 4px;
  border-color: #17a2b8;
  background-color: #ffffff;
  border-radius: 30px;
  width: 40%;
}

#songs {
  border-style: solid;
  border-width: 4px;
  border-color: #17a2b8;
  background-color: #ffffff;
  border-radius: 30px;
  width: 40%;
}
